*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px gives 11.6 px so 1rem = 11.6px;*/
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.container-md {
  max-width: 100rem;
  margin: 0 auto;
}
/* *********************** */
/* *********************** */
/* *********************** */
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
  .container-md {
    padding: 0 3rem;
  }
}
/* ***************************** */
/* ***************************** */
/* ***************************** */
#home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #d1e2e9;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  padding: 1.6rem 0;
}
.nav.fix_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243a6f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: all 200ms ease-in-out;
}
.nav.fix_nav .nav_link,
.nav.fix_nav .logo,
.nav.fix_nav .cart_icon,
.nav.fix_nav .hamburger {
  color: #fff;
}
.logo {
  font-size: 2.7rem;
}
.top_nav {
  display: none;
}
.nav_list {
  display: flex;
  align-items: center;
}
.nav_item:not(:last-child) {
  margin-right: 0.5rem;
}
.nav_link:link,
.nav_link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}
.nav_link:hover {
  outline: 1px dotted skyblue;
}
.nav_link.icon {
  font-size: 3rem;
  /* color: red; */
}
.cart_icon {
  display: none;
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav.fix_nav .nav_link {
    color: #243a6f;
  }
  .menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }
  .menu.show {
    left: 0;
    /* transition: 2s ease-in-out; */
  }
  .top_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    padding: 1rem 1.6rem;
  }
  .top_nav .logo {
    color: #fff;
  }
  .top_nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }
  .cart_icon {
    display: block;
    font-size: 3rem;
  }
  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav_list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }
  .nav_link:link,
  .nav_link:visited {
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
  }
  .nav_link {
    color: #243a6f;
  }
  .nav_link.icon {
    display: none;
  }
  body.show::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }
  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* hero */
.header .hero-img {
  position: absolute;
  right: -5%;
  bottom: -10%;
  height: 70rem;
  object-fit: contain;
}
.hero_content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}
.hero_content h2 {
  color: #8888ff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero_content .discount {
  color: #fbb419;
  font-size: 5rem;
}
.hero_content h1 span {
  color: #253b70;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}
.btn {
  display: inline-block;
  background-color: #e95022;
  padding: 1.2rem 4rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.btn:hover {
  background-color: #e14c16;
}
@media only screen and (max-width: 1200px) {
  .header .hero-img {
    right: -20%;
  }
  .hero_content {
    transform: translate(20%, -50%);
  }
  .hero_content h2 {
    font-size: 2rem;
  }
  .hero_content h1 span {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }
  .header .hero-img {
    height: 40rem;
    right: -10%;
  }
}
@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header .hero-img {
    bottom: -18%;
    right: -15%;
  }
  .hero_content {
    transform: translate(35%, -50%);
  }
  .hero_content h2 {
    font-size: 1.8rem;
  }
  .hero_content h1 span {
    font-size: 4rem;
  }
  .hero_content a {
    padding: 1rem 3rem;
  }
}

/* Advert */
.section {
  padding: 10rem 0 5rem 0;
}
.face_center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
  gap: 3rem;
}
.face_box .img1 {
  width: 38rem;
  height: 25rem;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: -20%;
}
.face_box {
  position: relative;
  color: #fff;
  height: 27rem;
  /* border: 1px solid black; */
  border-radius: 1.6rem;
  overflow: hidden;
  z-index: 1;
}
.face_box:nth-child(1) {
  background-color: #f5c5d1;
}
.face_box:nth-child(2) {
  background-color: #a1d1df;
}
.face_box:nth-child(3) {
  background-color: #e5bc00;
}
.dotted {
  position: relative;
  margin: 1.5rem 2rem 2rem 2rem;
  height: 90%;
  width: 90%;
  border: 2px dashed #f1f1f1;
  border-radius: 1rem;
}
.face_box .content {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -75%);
}
.face_box .content h2,
.face_box .content h4 {
  text-shadow: 5px 6px 4px rgba(37, 59, 11, 0.1);
}
.face_box .content h2 {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.face_box .content h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
/* Featured*/
.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}
.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translate(-50%, -50%);
  background-color: #f60091;
  width: 50%;
  height: 0.5rem;
  z-index: 1;
}

/* Product */
.product_center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 7rem 3rem;
}

.product {
  height: 52rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}
.product img {
  width: 100%;
  height: 40rem;
  border-radius: 1rem;
}
.product:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}
.product_header {
  position: relative;
  background-color: #f6f2f1;
  height: 40rem;
}
.product_footer {
  padding: 2rem 1.6rem 1.6rem 1.6rem;
}
.product_footer h3 {
  font-size: 2.2rem;
}
.rating {
  color: #43b3d9;
}
.rating i:nth-child(5) {
  color: rgba(219, 209, 209, 0.883);
}
.product_footer .price {
  color: #ff7c9c;
  font-size: 2rem;
}
.product:hover .product_header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
}
.product_header .icons {
  position: absolute;
  top: 50%;
  right: 5%;
  opacity: 0;
  transform: translate(0, -50%) scale(0);
  transition: all 350ms ease-in-out;
  z-index: 2;
}
.product_header .icons span {
  font-size: 2.5rem;
  display: block;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  line-height: 2rem;
  margin: 1rem 0;
  transition: all 300ms ease-in-out;
}
/* .product_header .icons span i{
    transition: all 500ms ease-in-out;

} */
.product_header .icons span:not(:last-child) {
  margin-bottom: 1rem;
}
.product_header .icons span:hover {
  background-color: #ff7c9c;
  color: #fff;
}
.product:hover .icons {
  opacity: 1;
  transform: translate(0, -50%) scale(1);
}

/* Products Banner */
.product_banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #243a6f;
  height: 50rem;
}
.product_banner .left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product_banner .right {
  text-align: center;
  align-self: center;
  padding: 1.6rem;
}
.product_banner .content h2 {
  font-size: 3rem;
  color: #fbb419;
  font-weight: 700;
  margin-bottom: 1rem;
}
.product_banner .content .discount {
  color: #7de6a9;
}
.product_banner .content h1 {
  color: #fff;
}
.product_banner .content h1 span {
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  display: block;
}
@media only screen and (max-width: 996px) {
  .product_banner .content h1 span {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 675px) {
  .product_banner {
    grid-template-columns: 1fr;
  }
  .product_banner .left {
    display: none;
  }
  .product_banner .content h1 span {
    font-size: 4rem;
  }
  .product_banner .content h2 {
    font-size: 2.8rem;
  }
  .product_banner .content a {
    padding: 1rem 3rem;
  }
}

/* Testimonial  */
.testimonial_center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}
.testimonial {
  position: relative;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
  border-radius: 0.5rem;
  text-align: center;
}
.testimonial:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transform: translatey(-1rem);
}
.testimonial .img_cover {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  margin: 0 auto;
}
.testimonial .img_cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial span {
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 12rem;
  transform: translate(-50%, 0);
  font-family: sans-serif;
  line-height: 1;
}
.testimonial p {
  margin: 2rem 0 1rem 0;
}
.testimonial .rating {
  margin-bottom: 1rem;
}
.testimonial h4 {
  margin-top: 1rem;
}
/* Brands */

.brands_center {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}
.brand {
  margin: 0 auto;
}
.brand img {
  object-fit: contain;
  width: 8rem;
  height: 8rem;
}
@media only screen and (max-width: 768px) {
  .brands_center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Footer */
.footer {
  background-color: rgba(8, 7, 7, 0.842);
}
.footer .container {
  padding: 5rem;
  /* background-color: rgba(8, 7, 7, 0.842); */
}
.footer .footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer_center {
  padding: 2rem;
}
.footer_center h3 {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.footer_center a {
  display: block;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  font-weight: 300;
}
.footer_center a:hover {
  color: #cef356;
}
.footer_center div {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
}
.footer_center div:hover {
  color: #c9fa6f;
}

@media only screen and (max-width: 991px) {
  .footer_center h3 {
    font-size: 1.8rem;
  }
  .footer_center a {
    font-size: 1.5rem;
  }
  .footer_center div {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 833px) {
  .footer .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 550px) {
  .footer .footer_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.all_products .top select {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 20rem;
  appearance: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.65rem;
}
/* .all_products .top select option{
  font-size: 2rem;
} */
form {
  position: relative;
  z-index: 1;
}
form span {
  position: absolute;
  right: 1rem;
  top: 15%;
  font-size: 2.5rem;
  transform: translate(-25%);
  z-index: 0;
}
/* Pagination */
.pagination {
  margin: 2rem 0 5rem 0;
}
.pagination span {
  /* border: 2px solid #243a6f; */
  display: inline-block;
  border-radius: 10%;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  box-shadow: 0 0 1.3rem 1rem rgba(27, 24, 207, 0.705) inset;
}
.pagination span:hover {
  /* background-color: #b6ebcc65; */
  color: #0f0b0a;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 1.3rem 1rem rgba(236, 19, 48, 0.705) inset;
}
@media only screen and (max-width: 587px) {
  .pagination span {
    /* border: 2px solid #243a6f; */
    border-radius: 10%;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    /* cursor: pointer; */
    box-shadow: 0 0 1rem 0.5rem rgba(27, 24, 207, 0.705) inset;
  }
  .pagination span:hover {
    box-shadow: 0 0 1rem 0.5rem rgba(236, 19, 48, 0.705) inset;
  }
}

/* Product details */
.details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}
.product_detail .details .left {
  display: flex;
  flex-direction: column;
}
.product_detail .details .left .main {
  text-align: center;
  background-color: #f6f2f1;
  margin-bottom: 2rem;
  height: 45rem;
  padding: 3rem;
}
.product_detail .details .left .main img {
  object-fit: contain;
  height: 100%;
}
.product_detail .details .thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.product_detail .thumbnail {
  width: 10rem;
  height: 10rem;
  text-align: center;
  background-color: #f6f2f1;
}
.product_detail .thumbnail img {
  object-fit: contain;
  height: 90%;
  /* width: 90%; */
}

.product_detail .right span {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.product_detail .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.product_detail .right .price {
  font-size: 2rem;
  color: #e14c16;
  margin-bottom: 2rem;
  font-weight: 600;
}
.product_detail .right div {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.product_detail .right select {
  padding: 0.7rem;
  width: 20rem;
  outline: none;
  appearance: none;
  font-family: "Rubik", sans-serif;
  border: 1px solid #ccc;
  font-size: 1.8rem;
}

.product_detail form span{
  position: absolute;
  top: 20%;
  right:1rem;
  transform: translate(-25%);
  font-size: 2rem;
  z-index: 0;
}
.product_detail .form{
  margin: 2rem 0;
}
.product_detail .form input{
  padding: .8rem;
  text-align: center;
  width: 3.5rem;
  margin-right: 2rem;
  outline: none;
  font-size: 1.8rem;
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.781);
  border-radius: .5rem;
  color: black;

}
.product_detail .form .addCart{
  background-color: rgb(212, 169, 176);
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  color: white;
}
.product_detail h3{
  text-transform: uppercase;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1014px){
  .product_detail .details{
    gap: 3rem;
  }
  .product_detail .thumbnails{
    gap: .5rem;
    /* width: 30rem; */
    /* background-color: #f6f2f1; */
  }
  .product_detail .thumbnail{
    /* width: 7rem; */
    width: auto;
    height: 10rem;
    padding: .5rem;
    text-align: center;
    background-color: #f6f2f1;

  }
}
@media only screen and (max-width:650px){
  .product_detail .details{
    grid-template-columns: 1fr;
    gap: 3rem;

  }
  .product_detail .right{
    margin-top: 15rem;
  }
  .product_detail .left{
    width: 100%;
    height: 45rem;
  }
}
/* cart items */
.cart{
  margin: 10rem auto;
}
table{
  border-collapse: collapse;
  width: 100%;
}
.cart_info{
display: flex;
flex-wrap: wrap;

}
.car_info div p{
  margin-bottom: 1rem;
}
.car_info div span{
  margin-bottom: 1rem;
}
th{
   
   text-align: left;
   padding: .5rem;
   background-color: #243a6f;
   font-weight: normal;
   color: #fff;
}

td{
  padding: 1rem 0.5rem;
}
td input{
  width: 5rem;
  height: 3rem;
  padding: .5rem;
}
td a{
 color: orangered;
  font-size: 1.4rem;
}
td img{
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}
.total_price{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: end;
  margin-top: 2rem;
}
.total_price table{
  border-top: 2px solid #fc7cfc;
  max-width: 35rem;
}
th:last-child{
  text-align: right;
}
td:last-child{
  text-align: right;
 }
input{
   outline: none;
 }